# Penggunaan _package_  `rpdmodel` untuk eSDC

Modul `rpdmodel` memiliki dua use case, yaitu:

1. Default parameter
2. Custom parameter

Penggunaan untuk dua use diatas dijelaskan sebagai berikut:

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from rpdmodel import RPDModel
from rpdmodel import ltp

## Default Parameter

Untuk menggunakan parameter _default_, submodul yang digunakan adalah `ltp`.

```python
from rpdmodel import ltp
```

dalam submodul ini terdapat dua fungsi untuk volume minyak dan gas. Satuan yang digunakan adalah masing-masing MSTB dan BSCF.

Misalkan proyek MANGGA - BASE memiliki volume Prospective Resources sebesar 100 000 MSTB. Setelah forecast dihitung, apabila total tahun forecast yang dihasilkan lebih kecil dari rentang tahun forecast yang dibuat di _resources report_, maka berikan nilai nol sebanyak selisih tahun forecast dan hasil perhitungan. Jika perhitungan berhasil, maka berikan notifikasi ke user agar silakan menyesuaikan profil tersebut sesuai dengan strategi dan rencana yang dimiliki.

In [2]:
vol_mangga = 100_000 #MSTB
year_start = 2021 # eSDC 31.12.2020
year_end = 2051

rate_yearly = ltp.oil_ltp_predict(vol_mangga)
year = np.arange(year_start, year_end + 1)
gap = len(year) - len(rate_yearly)
if gap < 0:
    print(f'Tahun forecast dari {year_start} hingga {year_end} terlalu pendek. Mohon ubah tahun akhir sekurang-kurangnya hingga ke {year_end + gap}')
    rate_adjusted = np.zeros(len(year))
else:
    rate_gap = np.zeros(gap)
    rate_adjusted = np.concatenate([rate_gap, rate_yearly])

df = pd.DataFrame({'year_frcast':year, 'oil_tp_forecast':rate_adjusted})
df

    year_frcast  oil_tp_forecast
0          2021            0.000
1          2022            0.000
2          2023            0.000
3          2024            0.000
4          2025            0.000
5          2026            0.000
6          2027            0.000
7          2028         4933.710
8          2029         9867.419
9          2030         9867.419
10         2031         9867.419
11         2032         8657.861
12         2033         7596.572
13         2034         6665.377
14         2035         5848.328
15         2036         5131.434
16         2037         4502.418
17         2038         3950.507
18         2039         3466.250
19         2040         3041.354
20         2041         2668.542
21         2042         2341.429
22         2043         2054.414
23         2044         1802.582
24         2045         1581.620
25         2046         1387.743
26         2047         1217.632
27         2048         1068.374
28         2049          937.412
29         2050          822.503
30         2051          721.681

## Custom Parameter

Jika KKKS memilih custom parameter, maka gunakan _class_ `RPDModel`. User dapat mengkonfigurasi parameter sesuai kebutuhan.

In [3]:
ol_mangga = 100_000 #MSTB
year_start = 2021 # eSDC 31.12.2020
year_end = 2051

model = RPDModel(year_rampup=4, q_min_ratio=0.018) # User dapat mengisi parameter sesuai kebutuhan
rate_yearly = model.predict(vol_mangga)
year = np.arange(year_start, year_end)
gap = len(year) - len(rate_yearly)
if gap < 0:
    print(f'Tahun forecast dari {year_start} hingga {year_end} terlalu pendek. Mohon ubah tahun akhir sekurang-kurangnya hingga ke {year_end + abs(gap)}')
    rate_adjusted = np.zeros(len(year))
else:
    rate_gap = np.zeros(gap)
    rate_adjusted = np.concatenate([rate_gap, rate_yearly])

df = pd.DataFrame({'year_frcast':year, 'oil_tp_forecast':rate_adjusted})
df

    year_frcast  oil_tp_forecast
0          2021            0.000
1          2022            0.000
2          2023            0.000
3          2024            0.000
4          2025         1884.100
5          2026         3768.200
6          2027         5652.300
7          2028         7536.399
8          2029         7536.399
9          2030         6956.973
10         2031         6422.096
11         2032         5928.342
12         2033         5472.549
13         2034         5051.800
14         2035         4663.399
15         2036         4304.860
16         2037         3973.886
17         2038         3668.359
18         2039         3386.323
19         2040         3125.970
20         2041         2885.634
21         2042         2663.776
22         2043         2458.975
23         2044         2269.920
24         2045         2095.400
25         2046         1934.298
26         2047         1785.582
27         2048         1648.300
28         2049         1521.573
29         2050         1404.587